@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1> BEFORE GENERATING THE PDF</h1>
    <h2> Please change the path in HomeController -> GeneratePDF()</h2>
    <h3> Change the username to your windows profile name to save it on to the desktop in the variable "OutputPath"</h3>
</div>